@use "./dark";
@use "./light";

$themes: (
        dark: dark.$colors,
        light: light.$colors
);

@mixin useTheme() {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;

    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

$theme-map: null;

@function getVar($key) {
  @return map-get($theme-map, $key);
}

@mixin addTheme($themeMap) {
  $themes: map-merge($themes, $themeMap) !global;
}

@mixin createCssVars() {
  @each $theme-name, $theme-map in $themes {
    [data-theme="#{$theme-name}"] {
      @each $key, $value in $theme-map {
        --#{$key}: #{$value};
      }
    }
  }
}