@use './dark';
@use './light';

$themes:(
        dark: dark.$colors,
        light: light.$colors
);

@mixin useTheme(){
  @each $theme-name, $theme-map in $themes {
    //!global 把局部变量强升为全局变量
    $theme-map: $theme-map !global;
    //判断html的data-theme的属性值
    //& sass嵌套里的父容器标识
    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

@function getVar($key) {
  @return map-get($theme-map, $key);
}

@mixin addTheme($theme-name, $theme-map) {
  $themes: map-merge($themes, ($theme-name: $theme-map)) !global;
}



