@use "../themes/mixins";
@use "../themes/variables";

.app-button {
  border: none;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 6px;
  @include mixins.bg-color(variables.$primary);
  @include mixins.font-color(variables.$colorFont);

  &:hover {
    @include mixins.bg-color(variables.$secondary);
  }

  &:active {
    @include mixins.bg-color(variables.$primary);
  }
}